
PackageManager/.vs/PackageManager/v16/.suo
PackageManager/.vs/PackageManager/v16/Browse.VC.db
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/46d711dd36a56c59/MAIN.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/7bcad8a0d67fe204/PACKAGEHANDLER.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/bc89e12d17b3f6b4/PACKAGEMANAGER.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/d0a43cf6deda67c2/MAIN.ipch
*.obj
*.exe
*.recipe
PackageManager/x64/Debug/PackageManager.ilk
PackageManager/x64/Debug/PackageManager.log
PackageManager/x64/Debug/PackageManager.pdb
PackageManager/x64/Debug/PackageManager.tlog/CL.command.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/CL.read.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/CL.write.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.command.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.read.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.write.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/PackageManager.lastbuildstate
PackageManager/x64/Debug/PackageManager.vcxproj.FileListAbsolute.txt
PackageManager/x64/Debug/vc142.idb
PackageManager/x64/Debug/vc142.pdb
*.ipch
*.opendb
*.db-shm
*.db-wal
*.json
*.vsidx
*.lock
PackageManager/.vs/PackageManager/v17/.suo
PackageManager/.vs/PackageManager/v17/Browse.VC.db
ModManager.pro.user.f732a8e
