
PackageManager/.vs/PackageManager/v16/.suo
PackageManager/.vs/PackageManager/v16/Browse.VC.db
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/46d711dd36a56c59/MAIN.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/7bcad8a0d67fe204/PACKAGEHANDLER.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/bc89e12d17b3f6b4/PACKAGEMANAGER.ipch
PackageManager/.vs/PackageManager/v16/ipch/AutoPCH/d0a43cf6deda67c2/MAIN.ipch
*.obj
*.exe
*.recipe
PackageManager/x64/Debug/PackageManager.ilk
PackageManager/x64/Debug/PackageManager.log
PackageManager/x64/Debug/PackageManager.pdb
PackageManager/x64/Debug/PackageManager.tlog/CL.command.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/CL.read.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/CL.write.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.command.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.read.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/link.write.1.tlog
PackageManager/x64/Debug/PackageManager.tlog/PackageManager.lastbuildstate
PackageManager/x64/Debug/PackageManager.vcxproj.FileListAbsolute.txt
PackageManager/x64/Debug/vc142.idb
PackageManager/x64/Debug/vc142.pdb
*.ipch
*.opendb
*.db-shm
*.db-wal
*.json
*.vsidx
*.lock
PackageManager/.vs/PackageManager/v17/.suo
PackageManager/.vs/PackageManager/v17/Browse.VC.db
ModManager.pro.user.f732a8e
*.psd
*.png
*.svg
*.jpg
*.png
*.jpg
*.png
*.png
src/PackageManager/.vs/PackageManager/v16/.suo
src/PackageManager/.vs/PackageManager/v16/.suo
*.db
src/PackageManager/.vs/PackageManager/v16/.suo
src/PackageManager/main.cpp
src/PackageManager/PackageManager.sln
src/PackageManager/PackageManager.vcxproj
src/PackageManager/PackageManager.vcxproj.filters
src/PackageManager/PackageManager.vcxproj.user
src/PackageManager/x64/Debug/PackageManager.ilk
src/PackageManager/x64/Debug/PackageManager.log
src/PackageManager/x64/Debug/PackageManager.pdb
src/PackageManager/x64/Debug/PackageManager.tlog/CL.command.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/CL.read.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/CL.write.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.command.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.read.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.write.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/PackageManager.lastbuildstate
src/PackageManager/x64/Debug/PackageManager.vcxproj.FileListAbsolute.txt
src/PackageManager/x64/Debug/vc142.idb
src/PackageManager/x64/Debug/vc142.pdb
src/PackageManager/x64/Debug/vc143.idb
src/PackageManager/x64/Debug/vc143.pdb
src/PackageManager/.vs/PackageManager/v16/.suo
src/PackageManager/.vs/PackageManager/v16/Browse.VC.db
src/PackageManager/main.cpp
src/PackageManager/PackageManager.sln
src/PackageManager/PackageManager.vcxproj
src/PackageManager/PackageManager.vcxproj.filters
src/PackageManager/PackageManager.vcxproj.user
src/PackageManager/x64/Debug/PackageManager.ilk
src/PackageManager/x64/Debug/PackageManager.log
src/PackageManager/x64/Debug/PackageManager.pdb
src/PackageManager/x64/Debug/PackageManager.tlog/CL.command.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/CL.read.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/CL.write.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.command.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.read.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/link.write.1.tlog
src/PackageManager/x64/Debug/PackageManager.tlog/PackageManager.lastbuildstate
src/PackageManager/x64/Debug/PackageManager.vcxproj.FileListAbsolute.txt
src/PackageManager/x64/Debug/vc142.idb
src/PackageManager/x64/Debug/vc142.pdb
src/PackageManager/x64/Debug/vc143.idb
src/PackageManager/x64/Debug/vc143.pdb
include/lib/karchive/config-compression.h
include/lib/karchive/CMakeFiles/CMakeOutput.log
include/lib/karchive/CMakeFiles/cmake.check_cache
include/lib/karchive/CMakeFiles/3.25.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
include/lib/karchive/CMakeFiles/3.25.2/VCTargetsPath.vcxproj
include/lib/karchive/CMakeFiles/3.25.2/VCTargetsPath.txt
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/CompilerIdCXX.vcxproj
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/CompilerIdC.vcxproj
include/lib/karchive/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
include/lib/karchive/CMakeFiles/3.25.2/CMakeSystem.cmake
include/lib/karchive/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
include/lib/karchive/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
include/lib/karchive/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
include/lib/karchive/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
include/lib/karchive/CMakeFiles/3.25.2/CMakeCCompiler.cmake
include/lib/karchive/CMakeCache.txt
extlibs/minizip/mz_zip_rw.h
extlibs/minizip/mz_zip_rw.c
extlibs/minizip/mz_zip.h
extlibs/minizip/mz_zip.c
extlibs/minizip/mz_strm_zstd.h
extlibs/minizip/mz_strm_zstd.c
extlibs/minizip/mz_strm_zlib.h
extlibs/minizip/mz_strm_zlib.c
extlibs/minizip/mz_strm_wzaes.h
extlibs/minizip/mz_strm_wzaes.c
extlibs/minizip/mz_strm_split.h
extlibs/minizip/mz_strm_split.c
extlibs/minizip/mz_strm_pkcrypt.h
extlibs/minizip/mz_strm_pkcrypt.c
extlibs/minizip/mz_strm_os_win32.c
extlibs/minizip/mz_strm_os_posix.c
extlibs/minizip/mz_strm_os.h
extlibs/minizip/mz_strm_mem.h
extlibs/minizip/mz_strm_mem.c
extlibs/minizip/mz_strm_lzma.h
extlibs/minizip/mz_strm_lzma.c
extlibs/minizip/mz_strm_libcomp.h
extlibs/minizip/mz_strm_libcomp.c
extlibs/minizip/mz_strm_bzip.h
extlibs/minizip/mz_strm_bzip.c
extlibs/minizip/mz_strm_buf.h
extlibs/minizip/mz_strm_buf.c
extlibs/minizip/mz_strm.h
extlibs/minizip/mz_strm.c
extlibs/minizip/mz_os_win32.c
extlibs/minizip/mz_os_posix.c
extlibs/minizip/mz_os.h
extlibs/minizip/mz_os.c
extlibs/minizip/mz_crypt_win32.c
extlibs/minizip/mz_crypt_openssl.c
extlibs/minizip/mz_crypt_apple.c
extlibs/minizip/mz_crypt.h
extlibs/minizip/mz_crypt.c
extlibs/minizip/mz_compat.h
extlibs/minizip/mz_compat.c
extlibs/minizip/mz.h
extlibs/minizip/minizip.c
extlibs/minizip/minigzip.c
extlibs/11Zip/src/zipper.cpp
extlibs/11Zip/src/unzipper.cpp
extlibs/11Zip/src/elzip_fs_fallback.cpp
extlibs/11Zip/src/elzip.cpp
extlibs/11Zip/include/elzip/zipper.hpp
extlibs/11Zip/include/elzip/unzipper.hpp
extlibs/11Zip/include/elzip/fswrapper.hpp
extlibs/11Zip/include/elzip/elzip.hpp
